<ion-view title="New Workout">
    <ion-content class="has-header">
        <div class="row">
            <div class="col col-50 display-item">
                <div class="row">
                    <div class="col title-text">Time</div>
                </div>
                <div class="row">
                    <div class="col subtitle-text">00:00:00</div>
                </div>
            </div>
            <div class="col col-50 display-item">
                <div class="row">
                    <div class="col title-text">Distance</div>
                </div>
                <div class="row">
                    <div class="col subtitle-text">0 KM</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="map-canvas" class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-energized button-workout">Start Workout</button>
            </div>
        </div>
    </ion-content>
</ion-view>

<script>
    var map;

    function initialize() {
        var mapOptions = {
            zoom: 17
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                                                 position.coords.longitude);

                var infowindow = new google.maps.InfoWindow({
                    map: map,
                    position: pos,
                    content: 'Location found using HTML5.'
                });

                map.setCenter(pos);
            }, function () {
                handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(60, 105),
            content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

