<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div class="list">
        <div class="item item-thumbnail-left">
            <img ng-src="{{pictureUrl}}"></img>
            <h2>{{user.name}}</h2>
            <p>Total Workout: {{totalWorkout}}</br>
            Total Distance: {{totalDistance}} km</p>
            </div>
        </div>
    </div>
    <div ng-hide="hasWorkouts">
    <p>No workout available yet. Go to the New Workout tab to start your first workout!</p>
    </div>
    <ion-scroll>
        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="workout in workouts track by $index" href="#">
                <img ng-src="{{pictureUrl}}">
                <p>Distance: {{workout.distance}} km</br>
                Time: {{workout.time}}</br>
                Avg. Pace: 0 min / km</p>
            </a>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
